<!DOCTYPE html>
<html lang="en-ca"  id="html">
<head>
	<meta charset="utf-8">
	<title>Taeyoon Choi</title>
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
		<link rel='shortcut icon' type='image/x-icon' href= '{{site.baseurl}}/img/favicon.ico' />
		<script src="{{site.baseurl}}/js/randombgcolor.js"></script>
</head>

<body class="alldetail">

<header class="sticky-header">
	{% include allprojectdetail-nav.html %}
</header>

			{% if page.type == 'video'%}
			<div class="video-container">
				{{page.video}}
			</div>
			{%endif%}
			{% if page.type == 'image'%}
	<img class="painting-container" src="{{site.baseurl}}/img/{{page.image}}" alt="{{page.alt-text}}"> 
		{%endif%}


{% include allprojectdetail-footer.html %}

</body>
</html>
